.details {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--Alabaster);
  margin-bottom: 2rem;
}

.plan__detials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Marine-blue);

  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Light-gray);
  font-weight: 700;
  text-transform: capitalize;
}

.plan__detials button {
  font-size: 0.8rem;
  color: var(--Cool-gray);
  text-decoration: underline;
  cursor: pointer;
}
.plan__detials button:focus {
  color: var(--Pastel-blue);
  border-bottom-color: var(--Purplish-blue);
}

.plan__detials p {
  font-size: 0.8rem;
}

.addons__details {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.addons__details p {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  color: var(--Cool-gray);
  text-transform: capitalize;
}

.addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Cool-gray);
  font-size: 0.9rem;
}

.addon__value {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Marine-blue);
}

.gifts {
  font-size: 0.8rem;
  padding-top: 1rem;
  color: var(--Cool-gray);
  border-top: 1px solid var(--Light-gray);
  text-transform: capitalize;
}

.gifts p {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;
  color: var(--Cool-gray);
}

.total__value {
  font-weight: 700;
  color: var(--Purplish-blue);
}
