.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  padding-block: 3rem;
  max-width: 25rem;
  gap: 1rem;
}

.container p {
  color: var(--Cool-gray);
}

.container p a {
  margin-top: 0.5rem;
  color: var(--Pastel-blue);
}

.container p a:hover {
  color: var(--Purplish-blue);
}

.reset {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Light-gray);
  background-color: transparent;
  outline: 2px solid var(--Light-gray);
  transition: outline 200ms;
  cursor: pointer;
}

.reset:hover {
  outline-color: var(--Strawberry-red);
  color: var(--Strawberry-red);
}
.reset:focus-within {
  outline-color: var(--Strawberry-red);
}
.reset:active {
  background-color: var(--Magnolia);
}

.reset span {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 50%;
  translate: 0 -0.6rem;
  width: 100%;
  height: 100%;
}
.reset span:focus-visible {
  border: 0;
  outline: 0;
}
