.container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--White);
  width: 80vw;
  margin-inline: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  animation: slide-in 500ms ease-out forwards;
  transform: translateY(4rem);
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    translate: 0 2rem;
  }
}

@media screen and (width > 430px) and (width < 1400px) {
  .container {
    display: none;
  }
}

@media screen and (width > 1399px) {
  .container {
    padding: 0;
    width: auto;
    box-shadow: none;
    border-radius: none;
    transform: translateY(0);
  }
}
