.fieldset {
  position: relative;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.fieldset input[id='phone'] {
  padding-left: 3.5rem;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: end;
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--Strawberry-red);
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Marine-blue);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label[for='cc'] {
  position: absolute;
  top: 30px;
  left: 8px;
  z-index: 20;
  font-size: 1rem;
  color: var(--Cool-gray);
}

.input {
  display: block;
  border: 0;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  outline: 1px solid var(--Light-gray);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  color: var(--Marine-blue);
  font-weight: 700;
}

.input:focus:invalid {
  outline-color: var(--Strawberry-red);
}

.input:focus:invalid:placeholder-shown {
  outline-color: orange;
}

.input:focus:not(:placeholder-shown):invalid {
  outline-color: orange;
}

.input:focus:valid {
  outline-color: var(--Pastel-blue);
}

.input::placeholder {
  color: var(--Light-gray);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.input.input__error {
  outline-color: var(--Strawberry-red);
}

.fieldset input[id='cc'] {
  position: absolute;
  bottom: 0;
  left: 1%;
  translate: 0 3.5rem;
  padding: 0;
  padding-left: 0.8rem;
  border-radius: 3px;
  width: 2.125rem;
  height: 1.8rem;
  z-index: 10;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
}
