.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  outline: 2px solid var(--Light-gray);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  transition: all 300ms;
  cursor: pointer;
}

.container:not([aria-selected='true']):focus-visible {
  outline-style: dashed;
  outline-color: var(--Pastel-blue);
}

.container[aria-selected='true'] {
  outline-color: var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.details h3 {
  font-size: 1rem;
}

.details p {
  color: var(--Cool-gray);
  font-size: 0.85rem;
  margin-block: 0.125rem;
}

.details span {
  font-size: 0.85rem;
}

@media screen and (width > 1099px) {
  .container {
    gap: 2rem;
    width: 8rem;
    grid-template-columns: 1fr;
  }
}
