@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  /* Colors */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Dark-gray: hsl(0, 0%, 50%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  background-color: var(--Magnolia);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

fieldset {
  outline: none;
  border: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  color: var(--Purplish-blue);
  transition: color 200ms;
  text-decoration: none;
  display: block;
}

button {
  all: unset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0px;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px none;
}

@media screen and (width > 431px) {
  .main {
    min-height: 100vh;
  }
}

.general__container {
  padding: 1rem 0.5rem;
}

.general__container .header {
  margin-bottom: 2rem;
}

.general__container .header h2 {
  font-size: 1.8rem;
  color: var(--Marine-blue);
}

.general__container .header p {
  color: var(--Cool-gray);
}
