.display__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (width > 1399px) {
  .display__wrapper {
    min-height: auto;
    margin: 0 auto;
    min-width: 30rem;
    max-width: 30rem;
  }
}
