.container {
  background-color: var(--Alabaster);
  padding: 1rem;
  margin-top: auto;
  min-height: 3rem;
}

.action__buttons {
  display: flex;
  align-items: center;
}

@media screen and (width > 1099px) {
  .container {
    background-color: transparent;
  }
}

@media screen and (width > 430px) and (width <= 1099px) {
  .container {
    display: none;
  }
}
