.container {
  position: fixed;
}

.container ul {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -150%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (width >= 431px) {
  .container {
    display: none;
  }
}
