.view__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}

@media screen and (width > 1099px) {
  .view__container {
    flex-direction: row;
    min-width: 60rem;
    min-height: auto;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: space-between;
    background-color: var(--White);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}
